html
	head
		style
			include ../css/form.css
		title Post a message
	body
		nav
			div
				a(href= "/") Index
		h2 Type a message
		form(action='/write' method='post')
			h3 Title:
			input(name= 'title' id='title')
			h3 Type in your message:
			textarea(name= 'message' id='textbox')
			br
			br
			input(type= 'submit' value= "Submit your post")