html
	head
		style
			include ../css/index.css
		title Bulletin Board Application
	body
		nav
			div
				a(href= "/write") Post message
		h1 Messages
		each message in messages
			div(id= '')
				h2 #{message.title}:
				q #{message.body}